---
import Layout from '../layouts/Layout.astro';
import { AppConfig } from '../helpers/AppConfig';
const { title, description } = AppConfig;
---

<Layout {...{ title, description }}>
	<h1>Welcome to <span class="text-gradient">Affordable Automatic Gate</span></h1>
</Layout>

